table {
    border-spacing: 0;
    width: 100%;
}

th {
    cursor: pointer;
    border: 1px solid black;
}

th,
td {
    text-align: left;
    padding: 16px;
    border: 1px solid black;
    height: 20px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.viewDetail {
    width: 900px;
    height: 350px;
}